@charset "UTF-8";
body {max-width: 600px; background-color: #fff; font-family:serif;}
img{width:130px; heigt:out; margin:5px 5px}
h1{font-size: 2.2rem; font-family: HGP行書体; text-align: center;
   margin:30px;}
p{margin: 20px; line-height: 1.5;}
embed{width:500px; height:700px; overflow:hidden; margin: 10px 30px;}
video{width:500px; height:auto; margin: 10px 30px;}

@media(max-width: 600PX){
   body {background-color: #fff; font-family:serif;}
   img{width:130px; heigt:out; margin:5px 5px}
   h1{font-size: 1.5rem; font-family: HGP行書体; text-align: center;
   margin:30px;}
   p{margin: 20px; line-height: 1.5;}
   embed{width:500px; height:700px; overflow:hidden; margin: 10px 30px;}
   video{width:500px; height:auto; margin: 10px 30px;}
}
